#### Question 2: Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe.

In [1]:
import pandas as pd

In [2]:
links = {'GDP': 'GDP_Data.csv', 'unemployment': 'Unemployment_data.csv'}

In [3]:
csv_path = links['unemployment']
df = pd.read_csv(csv_path)

In [4]:
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000